@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
     background:#ddd;
     font-family:Open Sans;
}

#timer{
     margin:30px auto 0;
     width:100px;
}
#timer .container{
     display:table;
     background:#777;
     color:#eee;
     font-weight:bold;
     width:220%;
     text-align:center;
     text-shadow:1px 1px 4px #999;
}
#timer .container div{
     display:table-cell;
     font-size:60px;
     padding:10px;
     width:20px;
}
#timer .container .divider{
     width:10px;
     color:#ddd;
}
#second{
     color: rgb(136, 7, 15);
}
